@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-color: #5ce1e6;
}

button {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #00040e;
  border: none;
  outline: none;
  padding: 15px 25px;
  margin-top: 1.5rem;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
  margin-top: 5em;
}

.large {
  color: #fff;
  font-weight: 600;
  font-size: 72px;
}

.large span {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.medium {
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  max-width: 600px;
}

.small {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 550px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 10px;
}

.card-p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

.small-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  max-width: 500px;
}

.small-card:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.small-card img {
  margin: 0 1rem;
  margin-right: 1.5rem;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: #00040f;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

ul {
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
  margin-top: 30px;
}

.logo-container {
  display: flex;
}

.logo-text {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.logo-text span {
  color: var(--primary-color);
}

.nav-actions ul {
  display: flex;
  justify-content: space-between;
}

.nav-actions ul li {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 2rem;
  cursor: pointer;
}

.nav-actions ul li:hover {
  color: #fff;
}

.nav-actions ul .active {
  color: #fff;
}

.robotimg {
  position: absolute;
  width: 500px;
  top: 120px;
  right: 0;
}

.vr {
  height: 5px;
  color: rgba(255, 255, 255, 0.6);
  width: 2px;
  opacity: 1;
  align-self: auto;
}

.numbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.numbers .number-container {
  display: flex;
  align-items: center;
}

.numbers span {
  font-weight: 600;
  font-size: 41px;
  margin-right: 1rem;
  color: #fff;
}

.numbers label {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
